.App {
  text-align: center;
}

.App-header {
  /*background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0; /*top of the page*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99; /*Z referring to stacking elements on top of each other*/
  padding: 10px;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #282535;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
  border: 3px solid white;
}
.sign-in:hover {
  border-width: 3px;
  border-color: #181717;
}

.dsupload {
  margin: auto;
  top: 50%;
  right: 50%;
  border-style: solid;
  border-width: 6px;
  border-color: #181717;
  width: 50%;
  height: 30%;
  border: 3px solid ;
  background-color: #e6e6e6;
  padding: 8px;
}
.upload-box {
  height: 80px;
  width: 100%;
  border-style: solid;
  border-width: 6px;
  border-color: #181717;
  text-align: center;
}
.upload-box:hover {
  background-color: #8d87ab;
}
.upload {
  max-width:100%;
  max-height:100%;
  object-fit: contain;
  
}

input[type="file"] {
  display: none;
}