.App {
  text-align: center;
}

.App-header {
  /*background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0; /*top of the page*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99; /*Z referring to stacking elements on top of each other*/
  padding: 10px;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}
